**/*.iml
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/bin
**/build
**/build_gradle
**/classes
**/tmp
.gradle
.idea
bundles
modules/**/lib
plugins-sdk/**/ivy.xml.MD5
plugins-sdk/**/liferay-hook.xml.processed
plugins-sdk/dependencies/**/*.jar
plugins-sdk/dist
plugins-sdk/lib